a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: "Roboto";
}

section {
  margin-top: 94px;
}

img {
  max-width: 100%;
  display: block;
}

.active {
  color: #2196F3;
}

@media screen and (min-width: 1600px) {
  .what-we-do h2,
.our-team h2,
.clients h2 {
    font-size: 36px;
    line-height: 1.2;
    margin: 0;
  }
}
@media screen and (max-width: 1600px) {
  .what-we-do h2,
.our-team h2,
.clients h2 {
    font-size: 28px;
    line-height: 1.2;
    margin: 0;
  }
}
.container {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 450px;
  }
  .wrapper-responsive {
    width: 93.75%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
  .container {
    width: 768px;
  }
  .wrapper-responsive {
    width: 96.09375%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1170px;
  }
  .wrapper-responsive {
    width: 1170px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .wrapper-responsive {
    width: 97%;
    margin: 0 auto;
  }
}
.contacts {
  color: #757575;
}
.contacts a {
  color: inherit;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.contacts__item:hover {
  fill: #2196F3;
}

.navbar,
nav > ul,
.contacts > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-navigation__list {
  gap: 50px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  padding: 26px 15px;
}
.logo span {
  color: #2196F3;
}

.main-navigation__item {
  position: relative;
}
.main-navigation__item::after {
  content: "";
  position: absolute;
  bottom: -34px;
  width: 100%;
  display: block;
  height: 4px;
  background-color: #2196F3;
  opacity: 0;
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}
.main-navigation__item:hover::after {
  opacity: 1;
}

.contacts__link:hover, .main-navigation__link:hover {
  color: #2196F3;
}

.main-navigation__list .active::after {
  content: "";
  position: absolute;
  bottom: -34px;
  width: 100%;
  display: block;
  height: 4px;
  background-color: #2196F3;
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}

.hero__container {
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
  .hero__container {
    width: 360px;
  }
}
@media screen and (min-width: 1600px) {
  .hero__container {
    width: 696px;
  }
}

.hero {
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 24, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-768.jpg);
    background-image: linear-gradient(rgba(24, 24, 24, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-768.jpg);
    background-size: 768px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: url(../../images/hero-480.jpg);
    background-size: 480px;
  }
}
.hero h1 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.06em;
  border: transparent;
}

@media screen and (max-width: 768px) {
  .main-navigation__list,
.contacts {
    display: none;
  }
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar_menu {
    padding-right: 23px;
  }
  .hero h1 {
    font-size: 26px;
    line-height: 1.8;
  }
}
@media screen and (min-width: 1600px) {
  .navbar_menu {
    display: none;
  }
  .navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar nav {
    margin-left: 92px;
  }
  .navbar .contacts {
    margin-left: auto;
  }
  .navbar .contacts .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .navbar .main-navigation__link:hover,
.navbar .contacts__link:hover {
    color: #2196F3;
  }
  .hero {
    height: 600px;
    background-image: url(../../images/big_hero.jpg);
    background-size: 1600px;
  }
  .hero h1 {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    letter-spacing: 0.06em;
  }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .navbar_menu {
    display: none;
  }
  .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .hero h1 {
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.9;
  }
}
footer {
  background-color: #2f303a;
}

.footer {
  margin-top: 60px;
  padding-top: 44px;
  padding-bottom: 30px;
  background-color: #2f303a;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}
.footer .logo {
  padding: 0;
}
@media screen and (min-width: 1600px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .wrapper-responsive {
    width: 570px;
  }
  .footer .subscription__form {
    padding: 0;
  }
  .footer .subscription__form p {
    text-align: left;
    padding-bottom: 15px;
    margin: 0;
  }
}
.footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding-bottom: 60px;
}
.footer .email-footer,
.footer .tel-footer {
  color: rgba(255, 255, 255, 0.6);
}
.footer address {
  font-style: normal;
}
.footer .email-footer:hover,
.footer .tel-footer:hover,
.footer address:hover {
  color: #2196F3;
  cursor: pointer;
}
.footer .footer-social h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
.footer .footer-social li {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer .footer-social li svg {
  fill: white;
}
@media screen and (min-width: 1600px) {
  .footer {
    margin-top: 94px;
  }
  .footer .social-icons li:hover {
    cursor: pointer;
    background-color: #2196f3;
    border-radius: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 60px;
  }
  .footer .logo {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .js-open-menu {
    background-color: white;
    border: transparent;
  }
}
@media (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}

.btn {
  font-weight: 700;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 24px;
  margin-top: 30px;
  cursor: pointer;
}

.page-header {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.page-header .container {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 48px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 0;
  right: 10px;
  color: rgb(18, 18, 18);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu a {
  padding-bottom: 32px;
}

.mobile-menu .link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
}

.mobil-contacts {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
}

.mobil-contacts__tel {
  color: #2196F3;
  padding-bottom: 32px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 64px;
}

.social-links__item {
  position: relative;
  font-size: 18px;
  line-height: 1.22;
}
.social-links__item a {
  color: #2196F3;
}
.social-links__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #757575;
}

@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
.about__item {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #757575;
}
.about__item svg {
  display: block;
  width: 100%;
  background-color: #f5f4fa;
  padding: 25px 0;
  margin-bottom: 30px;
}
.about__item strong {
  color: #212121;
}
@media screen and (max-width: 1600px) {
  .about__item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
  }
}
@media screen and (max-width: 768px) {
  .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  .about__item strong {
    font-size: 14px;
  }
  .about__item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    color: #757575;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 1600px) {
  .about__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 354px;
            flex: 0 1 354px;
  }
}
@media screen and (max-width: 768px) {
  .about__list li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .about__list .about__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    font-size: 14px;
  }
  .about__list .about__item p {
    line-height: 1.7;
  }
}

.clients {
  text-align: center;
}
.clients svg:hover {
  cursor: pointer;
  fill: #2196f3;
}
.clients p {
  padding-bottom: 30px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}
.clients__list li {
  width: 202.5px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__list li svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
@media screen and (min-width: 1600px) {
  .clients__list {
    padding-top: 50px;
  }
  .clients__list li {
    width: 167px;
  }
}

.our-team {
  background-color: #f5f4fa;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 40px;
}
.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
}
.our-team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 0;
}
@media screen and (min-width: 1600px) {
  .our-team {
    text-align: center;
    padding-top: 94px;
    margin-top: 0;
  }
  .our-team h2 {
    padding-bottom: 50px;
  }
}

.team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
}
.team-cards .team-cards__item {
  background-color: white;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 1600px) {
  .team-cards .team-cards__item {
    width: 354px;
  }
  .team-cards .team-cards__item img {
    width: 100%;
    height: 374px;
  }
}
@media screen and (min-width: 1600px) {
  .team-cards .team-cards__item {
    width: 270px;
  }
}
@media screen and (max-width: 768px) {
  .team-cards .team-cards__item {
    width: 100%;
  }
  .team-cards .team-cards__item img {
    width: 100%;
    height: 460px;
  }
}

.what-we-do {
  display: none;
}
@media screen and (min-width: 1600px) {
  .what-we-do {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding-top: 94px;
    margin-top: 0;
  }
}
.what-we-do .what-we-do-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 50px 0 94px 0;
}
.what-we-do .what-we-do-cards__item {
  position: relative;
}
.what-we-do .what-we-do-cards__caption {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  text-transform: uppercase;
  color: white;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
.what-we-do .what-we-do-cards__caption p {
  margin: 0;
  line-height: 70px;
  vertical-align: middle;
  letter-spacing: 0.03em;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 0px;
  }
}
@media screen and (min-width: 1600px) {
  .modal {
    width: 528px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px;
  background-color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
}

.form-call-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
}
.form-call-back label {
  font-size: 12px;
  line-height: 1.2;
  color: #757575;
  font-size: 12px;
  line-height: 1.2;
  padding-bottom: 4px;
}
.form-call-back input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 40px;
}

.form-call-back > h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

#yes + label {
  font-size: 14px;
  line-height: 1.7;
}
@media screen and (max-width: 1600px) {
  #yes + label {
    font-size: 12px;
  }
}

.check-for-yes {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.check-for-yes .check-for-yes__link {
  color: #2196F3;
  text-decoration: underline;
}

.form-submit {
  cursor: pointer;
  width: 200px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 20px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}

.mail-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  display: inline-block;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input.checkbox {
  margin-right: 0;
}

input:focus-within + svg {
  fill: #2196F3;
}

.form-call-back input:focus,
.form-call-back textarea:focus {
  outline: none;
  border: 2px solid #2196F3;
  border-radius: 4px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
  padding-top: 16px;
}
.social-icons svg {
  fill: #afb1b8;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.social-icons a {
  display: inline-block;
  width: 44px;
  height: 44px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons a:hover {
  cursor: pointer;
  background-color: #2196f3;
}
.social-icons a:hover svg {
  cursor: pointer;
  fill: white;
}

.section-porfolio {
  margin-top: 60px;
}

.hidden-h1 {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: -1px;
}

.nav-cards {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
}
.nav-cards .active {
  color: white;
  background-color: #2196F3;
}
@media screen and (min-width: 768px) {
  .nav-cards {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav-cards__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  padding: 6px 22px;
  border: white;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav-cards__item:hover {
  color: white;
  background-color: #2196F3;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 34px 0 0 0;
}
.cards img {
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 1600px) {
  .cards li {
    -ms-flex-preferred-size: 368.6666666667px;
        flex-basis: 368.6666666667px;
  }
}
@media screen and (max-width: 1600px) {
  .cards li {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
}
@media screen and (max-width: 768px) {
  .cards {
    gap: 30px;
  }
  .cards li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.cards h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--black);
  padding-left: 24px;
  padding-top: 20px;
}
.cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
  margin-top: 4px;
  padding-left: 24px;
}
.cards li {
  border: 1px solid #eeeeee;
  width: 31.6455696203%;
}

.cards li {
  position: relative;
}

.cards li:hover .cards-overlay {
  cursor: pointer;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards-container {
  overflow: hidden;
  position: relative;
}

.cards-overlay {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 391px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-overlay p {
  color: white;
  padding: 77px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.subscription__form {
  padding-top: 30px;
}
@media screen and (max-width: 1600px) {
  .subscription__form {
    padding-top: 0;
  }
}
.subscription__form .subscription__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscription__form .btn {
  width: 200px;
  -ms-flex-item-align: center;
      align-self: center;
}

.subscription__form-group svg {
  fill: white;
  vertical-align: middle;
  margin-left: 12px;
}
@media screen and (max-width: 768px) {
  .subscription__form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1600px) {
  .subscription__form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }
  .subscription__form-group .btn {
    margin: 0;
  }
  .subscription__form-group .subscription__email-input {
    width: 358px;
  }
}

.subscription__email-input {
  width: 100%;
  background-color: inherit;
  color: #fff;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  border: 1px solid rgba(255, 255, 255, 0.293);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscription__email-input:focus, .subscription__email-input:focus-visible {
  border-color: #2196F3;
  outline: none;
}