.js-open-menu {
  @media (max-width: $tablet-width) {
    background-color: white;
    border: transparent;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.btn {
  font-weight: 700;
  background-color: $blue;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 24px;
  margin-top: 30px;
  cursor: pointer;
}

