.clients {
  text-align: center;

  & svg:hover {
    cursor: pointer;
    fill: #2196f3;
  }

  p {
    padding-bottom: 30px;
  }
}

.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;

  li {
    width: (450px - 45px) / 2;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 210px - 104px;
      height: 60px;
      fill: #afb1b8;
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 50px;
    li {
      width: 167px;
    }
  }
}
