
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: white;
    padding: 20px;
  }





.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    transition: opacity 500ms ease-in-out;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: white;
    padding: 20px;
}

.btn-close {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px;
    background-color: white;
    cursor: pointer;
    display: flex;
    padding: 8px;
}



.form-call-back {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0 40px;
}

.form-call-back label {
    font-size: 12px;
    line-height: 1.2;
    color: var(--gray);
}

.form-call-back input {
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 40px;
}


.form-call-back > h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    align-self: center;
}


#yes + label {
    font-size: 14px;
    line-height: 24px
}

.check-for-yes {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px
}

.form-submit {
    cursor: pointer;
    width: 200px;
    align-self: center;
    margin-top: 30px;
    padding: 10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    color: white;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
}

.mail-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-30%);
    display: inline-block;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
}

input.checkbox {
    margin: 0;
    padding: 0;
}

 input:focus-within + svg {
    fill: var(--blue);
  }

.form-call-back input:focus, .form-call-back textarea:focus {
    outline: none;
    border: 3px solid var(--blue);
    border-radius: 3px;
  }