@import "../utils/_vars";

.contacts {
  color: $gray;

  a {
    color: inherit;
  }
}

.navbar,
nav > ul,
.contacts > ul {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.navbar {
  justify-content: space-between;
}

.navbar__list {
  gap: 50px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  padding: 26px 15px;

  span {
    color: $blue;
  }
}

.navbar__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -34px;
    width: 100%;
    display: block;
    height: 4px;
    background-color: $blue;
    opacity: 0;
    transition: opacity 350ms ease-in-out;
  }

  &:hover::after {
    opacity: 1;
  }
}

.contacts__link:hover, .navbar__link:hover{
    color: $blue;
}

.navbar__list .active::after {
    content: "";
    position: absolute;
    bottom: -34px;
    width: 100%;
    display: block;
    height: 4px;
    background-color: $blue;
    transition: opacity 350ms ease-in-out;

}



.hero {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  background-image: url(../../images/hero-480.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.06em;

    border: transparent;
  }

  button {
    font-weight: 700;
    background-color: $blue;
    color: white;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    line-height: 1.9;
    padding: 10px 24px;
    margin-top: 30px;
    cursor: pointer;
  }
}

@media screen and (max-width: $tablet-width) {
  .navbar__list,
  .contacts {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar_menu {
    padding-right: 23px;
  }
  .hero {
    h1 {
      font-size: 26px;
      line-height: 1.8;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .navbar_menu {
    display: none;
  }
  .navbar {
    justify-content: flex-start;

    nav {
      margin-left: 92px;
    }

    .contacts {
      margin-left: auto;

      .contacts__list {
        display: flex;
        gap: 30px;
      }
    }

    .navbar__link:hover,
    .contacts__link:hover {
      color: $blue;
    }
  }

  .hero {
    height: 600px;
    background-image: url(../../images/Imgbig_hero.jpg);

    h1 {
      font-size: 44px;
      line-height: 1.36;
      width: 696px;
      letter-spacing: 0.06em;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .navbar_menu {
    display: none;
  }

  .contacts__list {
    flex-direction: column;
    gap: 10px;
  }

  .hero {
    h1 {
      width: 360px;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.9;
    }
  }
}
