.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
  padding-top: 16px;

  svg {
    fill: #afb1b8;
    display: inline-block;
    vertical-align: middle;
    height: 100%;

  }

  a {
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      cursor: pointer;
      background-color: #2196f3;


    }

    &:hover svg {
      cursor: pointer;
      fill: white;

    }
  }
}
